@{
    ViewBag.Title = "LegalMarketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 50px; margin-right: 50px">
        <h2>Legal Marketing</h2>
        <hr class="style-four"/>
        <br />
        <br />
        <br />
</div>


